[Unit]
Description=qsf Full Node
After=network-online.target

[Service]
User=qsf
Group=qsf
WorkingDirectory=~
StateDirectory=qsf
LogsDirectory=qsf

Type=simple
ExecStart=/usr/bin/qsfd --config-file /etc/qsfd.conf --non-interactive
StandardOutput=null
StandardError=null

Restart=always

[Install]
WantedBy=multi-user.target
